<div class="container mt-3" >
<h3>
    Login page
</h3>
<div class="container">
    <form id="login-form">
        <label for="lEmail">Email address</label>
        <input type="email" class="form-control" id="lEmail" name="email">
        <br>
        <label for="lPassword">Password</label>
        <input type="password" class="form-control" id="lPassword" name="password">
        <br>
        <button type="submit" class="btn btn-primary">Log in</button>
        <br>
        <a href="/api/sessions/github"><button type="button" class="btn btn-dark mt-3">Login with Github</button></a>
    </form>
    <div class="mt-3" >
    <a href="http://localhost:8080/register"> Don't have an account? Register</a>
    </div>
</div>

</div>
